# --- Backend (Django) ---

# Python
venv/
__pycache__/
*.pyc
*.pyo
*.egg-info/
.eggs/
dist/
build/

# Django
db.sqlite3
*.log
media/
staticfiles/

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Testing
.coverage
htmlcov/
.pytest_cache/

# Misc
*.bak
*.tmp


# --- Frontend (Nuxt) ---

# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

pnpm-lock.yaml